.card {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  height: 430px;
  border: none;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  cursor: pointer;
}

.card img {
  height: 250px;
  object-fit: cover;

}

/*.card-text + .card-text {
  margin-left: 20px;
}*/
