.logo {
  width: 50px;
}

.results-container {
  position: absolute;
  top: 60px;
  left: 50%;
  right: 50%;
  max-height: 600px;
  transform: translateX(-50%);
  background-color: white;
  width: 40%;
  border: 1px solid #ddd;
  z-index: 1000;
  overflow-y: auto;
}

.img-thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.list-group-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-nav.ms-auto {
  margin-left: auto;
}

form.d-flex.mx-auto {
  flex: 1;
  max-width: 600px;
}

.input-group {
  width: 100%;
}

.ul-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  background-color: #f8f9fa;
}
